* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/styles/media/Fondo.png);
    height: 790px;
}

.up {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.514);

}

.logo {
    width: 40%;
    font-size: x-large;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.E {
    color: rgb(36, 189, 240);
}

.menu {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    grid-template-rows: 1, 1fr;
    overflow: hidden;
    align-items: center;
    gap: 15px;
}

.menu1 {
    width: 60%;
    display: flex;
    align-items: center;
}




.buttonname:hover {
    border-style: solid;

    border-color: rgb(36, 189, 240);
    color: rgb(36, 189, 240);
}

.buttonname {
    padding: 10px;
    font-size: x-small;
    border: none;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: white;
    border-style: solid;

    border-color: transparent;
}

.one {
    grid-column: 1/2;
    grid-row: 1;
}

.two {
    grid-column: 2/3;
    grid-row: 1;
}

.three {
    grid-column: 3/4;
    grid-row: 1;
}

.four {
    grid-column: 4/5;
    grid-row: 1;
}

.five {
    grid-column: 5/5;
    grid-row: 1;
}

.down {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.phrase1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phrase {

    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.uno {
    padding: 5px;
    width: 75%;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.514);
}

.dos {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
}

/*PARTE AZUL*/

.blue {
    padding-top: 8rem;
    padding-bottom: 4rem;
    padding-left: 5%;
    padding-right: 10%;
    display: grid;
    background-color: rgb(36, 189, 240);
    grid-template-columns: repeat(4, 0.4fr);
    gap: 50px;
}

.son {
    display: grid;
    gap: 17px;
    color: white;

}

.desc {
    font-size: small;
    text-align: justify;
    line-height: 20px;
}

/*PORTFOLIO*/

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.up1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    width: 70%;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.logo1 {
    width: 30%;
    font-size: xx-large;
    display: flex;
    color: gray;
    justify-content: flex-start;
    align-items: center;
}

.portfolio1 {
    position: relative;
}

.portfolio1::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px gray;
    bottom: 0;
    left: 0;
    width: 41%;
}

.menu22 {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    grid-template-rows: 1, 1fr;
    overflow: hidden;
    align-items: center;
    gap: 15px;
}

.menu2 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttonname1 {
    padding: 10px;
    font-size: x-small;
    border: none;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: gray;
    border-style: solid;
    box-sizing: border-box;
    border-color: transparent;

}

.buttonname1:hover {
    border-style: solid;
    box-sizing: border-box;
    border-color: rgb(36, 189, 240);
    color: rgb(36, 189, 240);
}


.collage {
    width: 70%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

/*JUST DEFAULT*/

.default{
    
    padding-top: 6rem;
    padding-bottom: 5rem;
    background-color: #515F67;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-self: center;
    justify-self: center;
}

.left{
width: 70%;
display: flex;
flex-direction: column;
justify-self: flex-end;
gap: 2rem;

}
.just{
    color: white;
    font-size: xx-large;
}

.just1 {
    position: relative;
}

.just1::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px white;
    bottom: 0;
    left: 0;
    width: 11%;
}

.descj{
    width: 87%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
    font-size: small;
    line-height: 1.5rem;
}

.visit{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.visit1{
    text-decoration: none;
    color: #43494d;
    border-style: solid;
    border-width: 2px;
    border-color: #43494d;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.visit1:hover{
    color: white;
    border-style: solid;
    border-color: white;
}


.right{
width: 50%;
}

.video{
    margin-left: 3.5rem;
}

/*TWITTER*/

.twitter{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(36, 189, 240);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.t1{
    font-size: xx-large;
    position: relative;
}

.t1::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px white;
    bottom: 0;
    left: 0;
    width: 41%;
}


.twitter1{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tweet{
    width: 70%;
    font-size: x-large;
    line-height: 2.8rem;
}

.cheese{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/*JOHN DOE*/

.john{
    padding-top: 4rem;
    padding-bottom: 10rem;
    background-image: url(./media/bg_whoIs.png);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.who{
    width: 70%;
    font-size: xx-large;
    position: relative;
}

.who::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px white;
    bottom: 0;
    left: 0;
    width: 4.5%;
}



.container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-size: small;
    gap: 3rem;
}

.left1{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.p1{
    line-height: 1.5rem;
}

.right1{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.media{
    display: grid;
    grid-template-columns: repeat(4, 15%);
}

/*testimonials*/

.testimonials{

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.testimonials1{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tt1{
    font-size: xx-large;
    position: relative;
    color: gray;
}

.tt1::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px gray;
    bottom: 0;
    left: 0;
    width: 21%;
}

.text11{
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: x-large;
    line-height: 2.8rem;
    color: gray;
    gap: 2rem;
}

.walter{
    font-size: small;
    color: rgb(36, 189, 240);
}

/*CONTACT*/

.contact{
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-image: url(./media/bg_contact.png);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact1{
    width: 70%;
    display: flex;
    flex-direction: row;
    
    
}
.cc1{
    font-size: xx-large;
    position: relative;
    
}

.cc1::after {
    content: "";
    position: absolute;
    border-bottom: solid 2px white;
    bottom: 0;
    left: 0;
    width: 31%;
}

.container1{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.cleft{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input{
    background-color: transparent;
    color: white;
    font-size: large;
    box-shadow: none;
    border-style: solid;
    border-color: white;
    width: 70%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.cright{
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.juju1{
    font-size: small;
    line-height: 1.5rem;
}

.info{
    font-size: small;
    line-height: 1.5rem;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.message1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.textarea{
    width: 100%;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.mbutton{
    width: 35%;
}

.mbutton1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: white;
    background-color: rgb(36, 189, 240);
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.mbutton1:hover{
    color: black;
}

/*Footer*/

.footer{
    background-color: #353F47;
    color: #4f6270;
    display: flex;
    justify-content: center;
}


.container3{
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.n{
    text-decoration: none;
    color: #4f6270;
}

.n:hover{
    color: #7d98ac;
}

/*RESPONSIVE*/

@media screen and (max-width: 992px) and (min-width: 769px){
    /*HEADER*/

    .menu1{
        width: 100%;
    }

    /*portfolio*/

    .portfolio1::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px gray;
        bottom: 0;
        left: 0;
        width: 37%;
    }

    .logo1{
        width: 10%;
    }
    .menu2{
        width: 80%;
        justify-content: flex-end;
        
    }

    .up1{
        width: 100%;
        justify-content: space-evenly;
    }

    .collage{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    /*default*/

    .default{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .just1::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px white;
        bottom: 0;
        left: 0;
        width: 7%;
    }

    .descj{
        font-size: medium;
    }

    .right{
        width: 70%;
        }

    .visit1{
        text-align: center;
    }

    .video{
        margin-left: 0;
    }

    /*john doe*/

    .who::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px white;
        bottom: 0;
        left: 0;
        width: 7%;
    }

    .media{
        grid-template-columns: repeat(4, 22%);
    }

    .p1{
        font-size: medium;
    }

    /*contact*/

    .cright{
        padding-top: 0;
    }

    .juju1{
        font-size: medium;
    }

    .info1{
        font-size: medium;
    }

    .input{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cleft{
        gap: 6rem;
    }



}

@media screen and (max-width: 768px) and (min-width: 481px){
    /*HEADER*/

    .menu{
        width: 100%;
    }

    /*blue*/

    .blue{
        grid-template-columns: repeat(4, 22%);
    }

    /*portfolio*/
    .portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo1{
        width: 10%;
    }
    .menu2{
        width: 80%;
        justify-content: flex-end;
        
    }

    .collage{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    .up1{
        width: 100%;
        justify-content: space-evenly;
    }

    /*default*/
    .default{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .right{
        width: 70%;
        }
    .video{
        margin-left: 0;
    }

    /*john doe*/

    .media{
        grid-template-columns: repeat(4, 27%);
    }

    /*contact*/

    .contact{
        padding-bottom: 2rem;
    }

    .cright{
        padding-top: 0;
    }

    .juju1{
        font-size: small;
    }

    .info1{
        font-size: small;
    }

    .input{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .cleft{
        gap: 6rem;
    }
   
}

@media screen and (max-width: 480px){
    /*header*/

    .logo{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    .menu1{
        width: 100%;
    }
    .up{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /*blue*/

    .blue{
        grid-template-columns: none;
        grid-template-rows: repeat(4, 0.4fr);
    }

    /*portfolio*/

    .portfolio1::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px gray;
        bottom: 0;
        left: 0;
        width: 37%;
    }

    .logo1{
        width: 100%;
        justify-content: center;

    }
    .menu2{
        width: 100%;
    }

    .menu22{
        width: 100%;
    }
    .up1{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    /*default*/

    .just1::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px white;
        bottom: 0;
        left: 0;
        width: 15%;
    }
    .default{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    .right{
        width: 70%;
        }
    .video{
        margin-left: 0;
        width: 320px;
        height: 196.5px;
    }

    .collage{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 50px;
    }

    .collage1{
        justify-self: center;
    }

    /*john doe*/

    .who::after {
        content: "";
        position: absolute;
        border-bottom: solid 2px white;
        bottom: 0;
        left: 0;
        width: 15%;
    }

    .media{
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(2, 50%);
        gap: 5px;
    }

    .p1{
        font-size: smaller;
    }

    .john{
        padding-top: 0;
    }

    .container1{
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /*contact*/

    .input{
    padding: 0;
    }

    .cright{
        padding-top: 0;

        gap: 1rem;
    }

    .textarea{
        height: 100px;
    }
    
    .contact{
        padding-top: 1rem;
    padding-bottom: 2rem;
    }

    /*footer*/

    .container3{
        width: 90%;
    }
}  

